<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Yamaha.VOCALOID.VOCALOID5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VOCALOID5"
                          publicKeyToken="null"
                          culture="neutral" />
        <codeBase href="VOCALOID5.exe"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json"
                          publicKeyToken="null"
                          culture="neutral" />
        <codeBase href="Newtonsoft.Json.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <userSettings>
    <Yamaha.VOCALOID.VOCALOID5.Properties.Settings>
      <setting name="Application_Upgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainWindow_LastLeft" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MainWindow_LastTop" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MainWindow_LastHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainWindow_LastWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="MainWindow_WindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="Application_UIIsDarkTheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Path_LastAccessDir" serializeAs="String">
        <value />
      </setting>
      <setting name="Server_ServerAPITimeout" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Server_AppVersionCheckOnLaunching" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Server_ShowHomeOnLaunching" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Server_ContentCheckOnLaunching" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Application_DefaultVoiceCompID" serializeAs="String">
        <value />
      </setting>
      <setting name="Application_VOCALOIDTrackColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Application_AudioTrackColor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Application_MeasureOffset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Audio_StereoOutL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Audio_StereoOutR" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Audio_BufferSize" serializeAs="String">
        <value />
      </setting>
      <setting name="Audio_SamplingRate" serializeAs="String">
        <value />
      </setting>
      <setting name="Audio_DeviceGuid" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="Auidio_DeviceType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Server_ContentInstallList" serializeAs="String">
        <value />
      </setting>
      <setting name="Musical_ControlParameter_Folded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Musical_ControlParameter_Height" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Musical_ControlParameter_Type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Track_HorizontalZoom" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Track_VerticalZoom" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Musical_HorizontalZoom" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Musical_VerticalZoom" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MainWindow_LowerZone_Height" serializeAs="String">
        <value>606.5</value>
      </setting>
      <setting name="SongPosition_ReturntoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Track_Quantize" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Musical_Quantize" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Mixer_AudioEffect_Folded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WaveEditor_AudioEffect_Folded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StyleCustomize_AudioEffect_Folded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Audio_MediaPreviewVolume" serializeAs="String">
        <value>0</value>
      </setting>
    </Yamaha.VOCALOID.VOCALOID5.Properties.Settings>
  </userSettings>
</configuration>